
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Enter Product Details</title>
        {% load static %}

    {% load crispy_forms_filters %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    </head>
    <style>
       body{
        background-color: rgb(32, 61, 61);
        color: white;
       } 
       .sidebar{
        position:fixed;
        left:0;
        width:260px;
        height:100%;
        background:#042331;
      }
      .sidebar ul a{
        display:block;
        
        width:100%;
        
        font-size:20px;
        color:rgb(232, 221, 221);
        margin-top: 30px;
       
      }
      .ul li{
        margin-top: 200px;
      
      }
      nav{
        background-color: #042331;
      }
      .container{
          margin-left: 300px;
      }
    </style>
    <body>
        <div class="container-fluid">
            <div class="bs-example">
                <nav class="navbar navbar-expand-md  fixed-top">
                  <a href="/" class="navbar-brand" style="color:yellow;"> Library Management</a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
                  </div>
                </nav>
              </div>
              <br><br>
              
              <div class="sidebar">
              
                <ul >
                  <li><a href="{% url 'load_adminhome' %}"><i class="fas fa-qrcode "></i> Dashboard</a></li>
                  <li><a href="{% url 'load_book' %}"><i class="fas fa-book-open"></i> add Book</a></li>
                  <li><a href="{% url 'bookview' %}"><i class="fa-solid fa-image "></i> view Books</a></li>
                  <li><a href="{% url 'load_category' %}"> <i class="fas fa-address-card"></i> add category</a></li>
                  <li><a href="{% url 'viewcategory' %}"><i class="fa fa-list-alt"></i> view category</a></li>
                  <li><a href="{% url 'viewuser' %}"><i class="fa-solid  fa-user"></i> view Users</a></li>
                  <li><a href="{% url 'load_issuebook' %}"><i class="fa-solid  fa-ticket"></i> Issue Books</a></li>
                  <li><a href="{% url 'load_issuedbook' %}"><i class="fa fa-book"></i> view Issued Books</a></li>
                  <li><a href="{% url 'user_logout' %}"><i class="fa fa-user"></i> Log Out</a></li>
                </ul>
              </div>
              
              <br>
                  
                      <br><br>
          <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2>Add product</h2>
            </div>
            <div class="col-md-4"></div>
        </div>
        <form action="{% url 'addcategory' %}" method="post">
            {% csrf_token %}
            
          {{ form|crispy }}  
             
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-info w-100">Save</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>
    </div>
    </body>
    </html>
