<!DOCTYPE html>
<head>
  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<title>Ecommerce</title>
</head>
<style>
  body{
    background-color: rgb(11, 32, 32);
    color: white;
  }
  .sidebar{
    position:fixed;
    left:0;
    width:260px;
    height:100%;
    background:#042331;
  }
  .sidebar ul a{
    display:block;
    height:100%;
    width:100%;
    
    font-size:20px;
    color:rgb(232, 221, 221);
    margin-top: 30px;
   
  }
  .ul li{
    margin-top: 200px;
  
  }
  nav{
    background-color: #042331;
  }
 h4{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
  
 }
</style>
<body>
    
  <div class="container-fluid">
    <div class="bs-example">
        <nav class="navbar navbar-expand-md  fixed-top">
          <a href="/" class="navbar-brand" style="color:yellow;"> Library Management</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          </div>
        </nav>
      </div>
      <br><br>
    <div class="sidebar">
      
      <ul >
      <li><a href="{% url 'load_adminhome' %}"><i class="fas fa-qrcode "></i> Dashboard</a></li>
      <li><a href="{% url 'load_book' %}"><i class="fas fa-book-open"></i> add Book</a></li>
      <li><a href="{% url 'bookview' %}"><i class="fa-solid fa-image "></i> view Books</a></li>
      <li><a href="{% url 'load_category' %}"> <i class="fas fa-address-card"></i> add category</a></li>
      <li><a href="{% url 'viewcategory' %}"><i class="fa fa-list-alt"></i> view category</a></li>
      <li><a href="{% url 'viewuser' %}"><i class="fa-solid  fa-user"></i> view Users</a></li>
      <li><a href="{% url 'load_issuebook' %}"><i class="fa-solid  fa-ticket"></i> Issue Books</a></li>
      <li><a href="{% url 'load_issuedbook' %}"><i class="fa fa-book"></i> view Issued Books</a></li>
      <li><a href="{% url 'user_logout' %}"><i class="fa fa-user"></i> Log Out</a></li>
      </ul>
    </div>
    <br>
        
            <br><br>
  </div>
    <h4 class="text-center ed-head">Books in Library</h4>
    <hr class="my-4">

    <div class="row" >
        <div class="col-lg-4 mx-auto" >
          <div class="list-group" style="background-color: black;text-align:center;">
            <p style="color: white; "><b>Categorylist</b></p>
            {% for category in categorys %}
            <a href=" ?category={{category.id}}" class="list-group-item list-group-item-action">&nbsp;{{ category.category_name }}[{{category.language}}]</a>
            
            
              {% endfor %}   
              <a href="{% url 'bookview' %}" class="btn btn-light btn-light ">All categories</a>
          </div><br><br><br><br><br>
          
        </div> 

                 
           
            <div id='books' class="col-lg-9 mx-auto">
               
              <div class="row mx-auto">
                    {% for i in books %} 
                    
                    <div class="row card mx-auto mb-3" style="width: 23rem;">
            <div class="card ed-card-shadow">
                <div class="card-header">
                    <div class="card-title" style="color:black;">
                      
                        <h4 class="text-center ed-head">{{i.book_name}}</h4>
                        <img class="card-img-top" src="{{i.book_image.url}}"
                  alt="Card image cap"  height="300px">
                    </div>
                </div>
           
                  <div class="card-body" style="color:black; ">
                    <div class="row">
                      <div class="col-6">
                          <p class="card-text ml-5"><b>Bookname</b></p>
                          <p class="card-text ml-5"><b>Author</b></p>
                          <p class="card-text ml-5"><b>Publications</b></p>
                          <p class="card-text ml-5"><b>Stock</b></p>
                          
          
                      </div>
                      <div class="col-6">
                    <p class="card-title">{{i.book_name}}</p>
                    <p class="card-title">{{i.author}}</p>
                    <p class="card-title">{{i.publication}}</p>
                    <p class="card-title">{{i.quantity}}</p>
                      </div>
                    </div>

                                  
      <a href="{% url 'load_editbook' i.id %}" class = " btn btn-success " >Edit book details</a>
               
      <a href="{% url 'deletepage' i.id %}" class = " btn btn-danger " >Delete</a>

                    
                </div>
      
                </div>
       
            
        
            </div>
            
        {% endfor %} 

        </div>
   
</div>

    </div>

</body>