<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    fieldset
   {
     margin-top: 30px;
     width: 600px;
      height: 500px;
      color: white;
       background-color: rgb(77, 77, 112);
       font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   }
   body{
    background-color:rgb(73, 122, 107);
   }
 </style>

<title>Edit</title>
</head>
<body>
  
  <div class="container-fluid">
    

    <div class="bs-example">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a href="/" class="navbar-brand" style="color:yellow;"> Library Management</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="{% url 'userhomepage' %}" class="nav-item nav-link ">Home</a>
  
            {% comment %} <a href="/faculty/" class="nav-item nav-link">Faculty</a> {% endcomment %}
            
            
            <a href="{% url 'userbookview' %}" class="nav-item nav-link ">view available Books</a>
            
            <a href="{% url 'profile' %}" class="nav-item nav-link active">Profile</a>
            <a href="{% url 'load_userissuedbook' %}" class="nav-item nav-link">view Issued Books</a>
  
          </div>
  
          <div class="navbar-nav">
            <a href="/aboutus" class="nav-item nav-link">About Us</a>
            <a href="{% url 'user_logout' %}" class="nav-item nav-link">Logout</a>
          </div>
  
  
  
  
        </div>
      </nav>
    </div>

    <br><br><br><br>



<center>
   
   <fieldset > 
  <div class="container fluid"><br><br>
    <h3>Edit Profile</h3><br><br>
      <form method="post" action="{% url 'editprofile' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-row">
          <div class="form-group col-md-6">
            <label>First name</label><br>
            <input type="text" class="form-control" name="fname" value="{{ user.first_name }}" required>
            </div>
          
            <div class="form-group col-md-6">
              <label>Last name</label><br>
              <input type="text" class="form-control" name="lname" value="{{ user.last_name }}" required>
              </div>
          </div>
  <!--
          <div class="form-group col-md-6">
            <label for="uname">Address</label><br>
            <input type="text" name="address" class="form-control" value="{{ user.user_address }}"><br>
            </div>
        </div>-->
  
          <div class="form-row">
            
            <div class="form-group col-md-6">
              <label for="email">Email id:</label>
              <input type="text" class="form-control" name="email" value="{{ user.email }}" required>
              
            </div>
            <div class="form-group col-md-6">
              <label for="Username">Username:</label>
              <input type="text"  class="form-control" name="uname" value="{{ user.username }}" required>
              </div>
          </div> 
           <!--
            <div class="form-group col-md-6">
              <label for="mblno">Mobileno:</label>
              <input type="text" class="form-control" name="mobile" value="{{ usr.user_mobile }}" required>
              
            </div>-->
            
          <div class="form-group">
              <label for="photo">Photo</label>
          <input type="file" name="file" class="form-control mt-6" accept="image/*">
          </div>  
      
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        <br>
        
      </fieldset></center>
  </div></body>